

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<div *ngIf="error" class="alert alert-danger">
    {{ error }}
</div>

<!-- <div *ngIf="loading" class="spinner-overlay">
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-clip-rotate-multiple"
  ></ngx-spinner>
  <div class="spinner-wrapper">
    <span class="spinner-title">Load Data......</span>
  </div>
</div> -->

<div *ngIf="loading" class="spinner-overlay">
  <div class="spinner-wrapper">
    <div class="spinner"></div>
    <span class="spinner-title">Loading Data..</span>
  </div>
</div>
  
  <!-- Display data table when loading is false   *ngIf="!error" !loading && !error --> 
  <div *ngIf="!loading && !error"  class="content">
    <!-- Your table code goes here -->
     <!--header-->






          <div  class="header">
            <button class="wishlist-button" (click)="showWishlist()">Show Wishlist</button>
                <!-- <div class="m-2">
                    <button class="btn btn-primary" [routerLink]="['/home/products/add']"> Add Product</button>
                </div> -->
          </div>
          <div  class="content">
               <div class="row justify-content-center">


                <div class="card m-1 text-center col-lg-3 col-md-4 col-sm-6 " *ngFor="let prod of products ; let i=index">




                  <figure class="snip1268">
                    <div class="image">
                      <ng-container *ngIf="prod.imageName; else noImage">
                        <img [src]="'https://localhost:7269/resources/' + prod.imageName" class="card-img-top" [title]="prod.imageName" [alt]="prod.imageName" height="200px">
                      </ng-container>
                      <ng-template #noImage>
                        <img src="https://localhost:7269/resources/ProductImage.jpg" class="card-img-top" title="Product Avatar" alt="Product Avatar" height="200px">
                      </ng-template>
                      <div class="icons">
                        <button class="btn btn-outline-success increase_decrease_btn" (click)="changeValue(i, 1,prod.id)"><i class="fa-solid fa-caret-up iconIncrease"></i></button>
                        <span class="Display_Icreasing_Decreasing nnmumber" >{{productCounts[i]}}</span>
                        <button class="btn btn-outline-danger increase_decrease_btn" (click)="changeValue(i, -1,prod.id)"><i class="fa-solid fa-caret-down iconDecrese"></i></button>
                      </div>
                    </div>
                    <figcaption>
                      <h2>{{prod.productName}}</h2>
                      <!-- <p>Miss Wormwood: What state do you live in? Calvin: Denial. Miss Wormwood: I don't suppose I can argue with that!</p> -->
                      <div class=""style="border-top-left-radius: 10px;border-bottom-right-radius: 10px;background-color: black;color: #fff;">Total quantity :: {{prod.qty}} </div>
                      <div class="price">${{prod.price}} </div>
                      <br><br>
                      <a class="add-to-cart" (click)="changeValue(i, 1,prod.id)">Add to Cart</a>
                    </figcaption>
                  </figure>
                

                <br><br><br>





                  <!-- <ng-container *ngIf="prod.imageName; else noImage">
                    <img [src]="'https://localhost:7269/resources/' + prod.imageName" class="card-img-top" [title]="prod.imageName" [alt]="prod.imageName" height="200px">
                  </ng-container>
                  <ng-template #noImage>
                    <img src="https://localhost:7269/resources/ProductImage.jpg" class="card-img-top" title="Product Avatar" alt="Product Avatar" height="200px">
                  </ng-template>

                  <div class="card-body">
                    <h5 class="card-title" style="height:70px">{{prod.productName}}</h5>
                    <p class="card-text" style="border-top-left-radius: 10px;border-bottom-right-radius: 10px;background-color: rgb(255, 60, 0);color: #fff; width:50%"> Price : {{prod.price}} $</p>
                    <p class="card-text" style="border-top-left-radius: 10px;border-bottom-right-radius: 10px;background-color: black;color: #fff;">Quant : {{prod.qty}}</p>

                    <button class="btn btn-outline-success" (click)="changeValue(i, 1,prod.id)"><i class="fa-solid fa-caret-up"></i></button>
                    <span class="Display_Icreasing_Decreasing">{{productCounts[i]}}</span>
                    <button class="btn btn-outline-danger" (click)="changeValue(i, -1,prod.id)"><i class="fa-solid fa-caret-down"></i></button>
                    <a class="btn btn-primary" (click)="changeValue(i, 1,prod.id)">Add To Cart</a>

                  </div>
                </div>
               </div> -->

            

  </div>

  <!-- <img src="https://localhost:7269/resources/PalmersFG.PNG" alt="" srcset="" width="200px" height="200px"> -->

    <router-outlet></router-outlet>

<!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete {{productnameDeleted}} ? 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" (click)="Delete(IdForDelete)" data-bs-dismiss="modal">Confirm Delete</button>
        </div>
      </div>
    </div>
  </div>

<!-- <app-delete-confirmation-dialog [IdFromParent]="IdForDelete"></app-delete-confirmation-dialog> -->


<div id="wishlist-alert" class="alert alert-success alert-dismissible fade" role="alert" style="display:none;">
  Item added to wishlist!
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>





<!-- <div class="alert alert-success">
  <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
  <div class="icon hidden-xs">
    <i class="fa fa-check"></i>
  </div>
  <strong>Success</strong>
  <Br /> Wow! Great job! Whatever you were doing works!
</div> -->


<!-- <div class="notification-container">
 
</div> -->


<!-- <button class="wishlist-button" (click)="showWishlist()">Show Wishlist</button> -->

<div class="notification-container">
  <div *ngFor="let notification of notifications" class="notification" [ngClass]="{'hidden': notification.hidden, 'success-notification': notification.type === 'success', 'warning-notification': notification.type === 'warning', 'danger-notification': notification.type === 'danger'}">
    <div class="innernoti">
      <div class="icon">
        <i class="fa" [ngClass]="{'fa-check': notification.type === 'success', 'fa-exclamation-triangle': notification.type === 'warning', 'fa-times': notification?.type === 'danger'}"></i>
      </div>
      <div class="text-content">
        <div class="notification-header">
          <span class="notification-title">{{ notification.title }}</span>
        </div>
        <div class="notification-body">{{ notification.body }}</div>
      </div>
      <button class="close-btn" (click)="closeNotification(notification)">&times;</button>
    </div>
  </div>
</div>




<!--Wishlist-->
<div *ngIf="showNotification" class="wishlist-notification">
  <div class="innernoti">
    <div class="notification-header">
      <span class="notification-title2">Wishlist Items</span>
      <button class="close-btn" (click)="hideWishlist()">&times;</button>
    </div>
    <div class="wishlist-content">
      <ul class="wishlist-items">
        <li class="dropdown-menu-header">
          <div class="dropdown-header d-flex">
            <h4 class="notification-title2 mb-0 mr-auto">My Cart</h4>
            <div class="badge badge-pill badge-light-primary total_items_Class">{{ wishlistItems.length }} Items</div>
          </div>
        </li>
        <div class="shopping-cart" [appDisplayDiveFromWishList]="shouldHideDiv">
          <h2>My Cart ({{ wishlistItems.length }} Items)</h2>
          <ul style="list-style: none;">
            <li *ngFor="let item of wishlistItems; let i = index">
              <!-- displayDiveFromWishList={{WishListproductIndecies[i]}} -->
              <div class=" container cart-item" >
                <!-- imageName -->
                
                <img [src]="'https://localhost:7269/resources/' + item.imageName"  alt="{{ item.productName }}">
                <!-- [appDisplayDiveFromWishList]="shouldHideDiv" -->
                <div class="row item-details" >
                  <h3 class="col-7">{{ item.productName }}</h3>
                  <!-- <span class="col-2">ID ::::::: {{ item.productId }}</span> -->
                  <span  class="col-4 quantity justify-content-center" >
                    <button (click)="changeValue(WishListproductIndecies[i], -1, item.productId)">-</button>
                    <span>{{ WishListproductCounts[i] }}</span>
                    <!-- <span>The Index Of Item in Produts Componenet  is ::::  " {{WishListproductIndecies[i]}} "</span> -->
                    
                    <button (click)="changeValue(WishListproductIndecies[i], 1, item.productId)">+</button>
                    <span class="price col-1">${{ item.price }}</span>
                  </span>
                </div>
              </div>
            </li>



            <!-- <div class="media align-items-center"><img class="d-block rounded mr-1" src="../../../app-assets/images/pages/eCommerce/7.png" alt="donuts" width="62">
              <div class="media-body"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x ficon cart-item-remove"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                  <div class="media-heading">
                      <h6 class="cart-item-title"><a class="text-body" href="app-ecommerce-details.html"> Google Home Mini</a></h6><small class="cart-item-by">By Google</small>
                  </div>
                  <div class="cart-item-qty">
                      <div class="input-group bootstrap-touchspin">
                          <span class="input-group-btn input-group-prepend bootstrap-touchspin-injected"><button class="btn btn-primary bootstrap-touchspin-down" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg></button></span><input class="touchspin-cart form-control" type="number" value="3"><span class="input-group-btn input-group-append bootstrap-touchspin-injected"><button class="btn btn-primary bootstrap-touchspin-up" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg></button></span>
                      </div>
                  </div>
                  <h5 class="cart-item-price">$129.40</h5>
              </div>
          </div> -->





          </ul>
          <div class="total">
            <button>Checkout</button>
          </div>
        </div>
      </ul>
      <div class="wishlist-footer">
        <span class="total_items_Class2">Total Items: {{ wishlistItems.length }}</span>
      </div>
    </div>
  </div>
</div>


















