<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark h-100" >
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-3">Control Panel</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Home
        </a>
      </li>

      

      <li>
        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white" [routerLink]="['/dashboard']" [routerLinkActive]="'bg-primary rounded'">
            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
    </li>




      <li>
        <a href="#" class="nav-link px-0 align-middle">
            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline text-white">Orders</span></a>
    </li>
    <li>
        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline text-white">Bootstrap</span></a>
        <ul class="collapse nav flex-column ms-1 " id="submenu2" data-bs-parent="#menu">
            <li class="w-100">
                <a href="#" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline">Item</span> 1</a>
            </li>
            <li>
                <a href="#" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline">Item</span> 2</a>
            </li>
        </ul>
    </li>
      <li>
        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-white">
            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
            <li class="w-100">
                <a [routerLink]="['/dashboard/productDashboard']" [routerLinkActive]="'bg-primary rounded'" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline">Products</span> </a>
            </li>
            <li>
                <a [routerLink]="['/dashboard/category']" [routerLinkActive]="'bg-primary rounded'" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline" >Categories</span> </a>
            </li>
            <li>
                <a href="#" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline">Product</span> 3</a>
            </li>
            <li>
                <a href="#" class="nav-link px-0 text-white"> <span class="d-none d-sm-inline">Product</span> 4</a>
            </li>
        </ul>
    </li>
    <li>
      <a href="#" class="nav-link px-0 align-middle text-white">
          <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
    </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="25" height="25" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>